<div id="<%= dom_id weapon %>">
  <p>
    <strong>Name:</strong>
    <%= weapon.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= weapon.description %>
  </p>

  <p>
    <strong>Power base:</strong>
    <%= weapon.power_base %>
  </p>

  <p>
    <strong>Power step:</strong>
    <%= weapon.power_step %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= weapon.level %>
  </p>

</div>
